@model MyShop2.Core.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<div class="row">

    <div class="col-md-2">
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
            @foreach (var item in Model.ProductCategories)
            {
                @Html.ActionLink(item.Name, "Index", new { Category = item.Name }, new { @class = Request["Category"] == item.Name ? "list-group-item active" : "list-group-item" })
            }
        </div>
    </div>

    <div class="col-md-10">
        @foreach (var item in Model.Products)
        {
            @ShowProduct(item.Id, item.Name, item.Description, item.Price, item.Image)
        }
    </div>
</div>

@helper ShowProduct(string Id, string Name, string Desc, decimal Price, string ImageFile)
{
    <div class="card col-md-4">
        <img src="~/Content/ProductImages/@ImageFile" class="card-img-top" alt="Image" style="max-height:200px">
        <div class="card-body">
            <h5 class="card-title">@Name</h5>
            <p class="card-text">@Desc</p>
            <h5>@string.Format("{0:c}", Price)</h5>
            <a href="@Url.Action("AddToBasket","Basket",new { ProductId = Id})" class="btn btn-primary">Add to basket</a>
        </div>
    </div>
}

